In [1]:
import networkx as nx
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
from layout import Layout

plt.style.use("seaborn-notebook")

In [2]:
countries = pd.read_csv("mig_nodes.csv")
migration = pd.read_csv("mig_edges.csv")

In [3]:
countries

,# index,name,code,region,sub_region,_pos
0,0,Afghanistan,4,Asia,Southern Asia,"array([1.83174148, 1.86242262])"
1,1,Albania,8,Europe,Southern Europe,"array([1.89105956, 2.05459683])"
2,2,Algeria,12,Africa,Northern Africa,"array([1.90130528, 1.98917661])"
3,3,American Samoa,16,Oceania,Polynesia,"array([1.97167436, 2.13972604])"
4,4,Andorra,20,Europe,Southern Europe,"array([1.70167317, 1.89743272])"
...,...,...,...,...,...,...
227,227,Wallis and Futuna Islands,876,Oceania,Polynesia,"array([1.79672158, 2.22175723])"
228,228,Western Sahara,732,Africa,Northern Africa,"array([2.01706011, 1.86488782])"
229,229,Yemen,887,Asia,Western Asia,"array([1.92891113, 1.97069976])"
230,230,Zambia,894,Africa,Eastern Africa,"array([1.94272176, 1.93080904])"
231,231,Zimbabwe,716,Africa,Eastern Africa,"array([1.81745367, 1.87408624])"

In [4]:
migration

,source,target,migration_1990_total,migration_1990_male,migration_1990_female,migration_1995_total,migration_1995_male,migration_1995_female,migration_2000_total,migration_2000_male,migration_2000_female,migration_2005_total,migration_2005_male,migration_2005_female,migration_2010_total,migration_2010_male,migration_2010_female,migration_2015_total,migration_2015_male,migration_2015_female
0,0,64,237,194,43,188,150,38,154,117,37,183,142,41,198,152,46,235,173,62
1,0,118,677,556,121,452,351,101,236,155,81,259,187,72,284,206,78,320,231,89
2,0,142,64,26,38,61,25,36,58,23,35,45,18,27,43,18,25,39,17,22
3,0,191,59,37,22,36,24,12,30,20,10,47,27,20,69,41,28,83,50,33
4,0,202,8485,3726,4759,12248,5518,6730,17118,7874,9244,12636,5687,6949,8900,3906,4994,7587,3279,4308
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11223,231,220,4767,2148,2619,7571,3451,4120,10686,4909,5777,26585,12282,14303,42811,19381,23430,50001,22556,27445
11224,231,11,8265,4184,4081,10498,5291,5207,12110,6110,6000,21690,10960,10730,33720,16870,16850,38843,19418,19425
11225,231,147,676,323,353,822,398,424,2807,1365,1442,7794,3783,4011,8170,3959,4211,8416,4070,4346
11226,231,68,0,0,0,0,0,0,0,0,0,0,0,0,6,6,0,6,6,0
11227,231,28,0,0,0,0,0,0,0,0,0,0,0,0,101,58,43,122,70,52

In [5]:
my_max = migration[' migration_2015_total'].idxmax()
my_min = migration[' migration_2015_total'].min()  
print(my_min, my_max)

0 6481

In [6]:
G = nx.DiGraph()
for row in migration.iterrows():
    G.add_edge(row[1]["source"], row[1][" target"], weight = row[1][" migration_2015_total"])

In [7]:
nx.info(G)

'DiGraph with 232 nodes and 11228 edges'

In [8]:
pos = nx.spring_layout(G, dim=3)

In [9]:
migration[" migration_2015_total"][186]

0

In [10]:
glows = []
for i in range(G.number_of_edges()):
    val = migration[" migration_2015_total"][i]
    if val > 0:
        val = int(np.log10(val))
    val = int(100 + 155*val/7)
    glows.append(val)

In [11]:
node_names = [countries.loc[node," name"] for node in G]
node_colors = np.repeat([(31, 119, 180, 100)], repeats=G.number_of_nodes(), axis=0)
edge_colors = []
for i in range(G.number_of_edges()):
    color = (255, 255, 255, glows[i])
    edge_colors.append(color)

In [12]:
edge_colors[6481][-1]

255

In [13]:
layout = Layout(G, pos, node_names, node_colors, edge_colors)

In [14]:
layout.node_table

,x,y,z,r,g,b,a,name
0,0.386796,0.606046,0.607396,31,119,180,100,Afghanistan
1,0.398522,0.684665,0.632949,31,119,180,100,Egypt
2,0.379800,0.613033,0.613471,31,119,180,100,Libya
3,0.394449,0.593254,0.527927,31,119,180,100,Namibia
4,0.381409,0.598810,0.574849,31,119,180,100,South Africa
...,...,...,...,...,...,...,...,...
227,0.000000,0.506270,0.238289,31,119,180,100,Wallis and Futuna Islands
228,0.384414,0.636426,0.543047,31,119,180,100,Gambia
229,0.501391,0.631433,0.473837,31,119,180,100,Gibraltar
230,1.000000,0.891021,0.834252,31,119,180,100,Holy See
231,0.449286,0.807379,0.374752,31,119,180,100,Saint Helena

In [15]:
layout.edge_table

         i    j    r    g    b    a
0        0    1  255  255  255  144
1        0    2  255  255  255  144
2        0    3  255  255  255  122
3        0    4  255  255  255  122
4        0    5  255  255  255  166
...    ...  ...  ...  ...  ...  ...
11223  231  113  255  255  255  188
11224  231   58  255  255  255  188
11225  231  137  255  255  255  166
11226  231   61  255  255  255  100
11227  231   63  255  255  255  144

[11228 rows x 6 columns]

In [16]:
layout.write()