In [1]:
import networkx as nx
from layout import Layout

In [2]:
# example graph and positions
G = nx.erdos_renyi_graph(10, 0.25)
pos = nx.spring_layout(G, dim=3)

# new layout instance
layout = Layout(G, pos)

In [3]:
# prints node table
layout.node_table()

          x         y         z   r    g    b    a    name
0  0.186514  0.373053  0.224238  31  119  180  100  node_0
1  0.422157  0.165189  0.579378  31  119  180  100  node_1
2  0.478010  0.000000  0.407154  31  119  180  100  node_2
3  1.000000  1.000000  1.000000  31  119  180  100  node_3
4  0.526943  0.305785  0.000000  31  119  180  100  node_4
5  0.423650  0.268426  0.295485  31  119  180  100  node_5
6  0.444403  0.038727  0.658788  31  119  180  100  node_6
7  0.577288  0.362957  0.408494  31  119  180  100  node_7
8  0.000000  0.452564  0.161414  31  119  180  100  node_8
9  0.463822  0.115981  0.259716  31  119  180  100  node_9

In [4]:
# prints edge table
layout.edge_table()

   i  j  r  g  b    a
0  0  5  0  0  0  100
1  0  8  0  0  0  100
2  1  5  0  0  0  100
3  1  6  0  0  0  100
4  2  6  0  0  0  100
5  2  9  0  0  0  100
6  4  5  0  0  0  100
7  5  7  0  0  0  100
8  5  9  0  0  0  100

In [5]:
# graph preview not yet implemented
layout.preview()

In [6]:
# writes tables to nodes.csv and edges.csv
layout.write()